/*-----general styles--------*/

body {
  font-family: Helvetica, Helvetica Neue, Arial;
  background-color: #257AC4;
}


/*-----text styles--------*/

.title {
  text-transform: capitalize;
  text-align: center;
  color: #fff;
  font-weight: normal;
  letter-spacing: 7px;
  margin: 40px;
}


/*-----structure--------*/

.container {
  margin: 0 auto;
  width: 60%;
  max-width: 800px;
}

form input,
form textarea {
  margin: 0 0 30px;
  border: none;
  padding: 10px 15px;
  border-radius: 2px;
}
