<p>Enter your event name</p>
<input title type="text" placeholder="event name" required>
</br>
<p>Where is your event going to take place?</p>
<input address type="text" placeholder="event address" required>
<input postCode type="text" placeholder="event postcode" required>
</br>
<p>What date and time is your event going to happen?</p>
<input date type="text" placeholder="dd-mm-yy" required>
<input time type="text" placeholder="hh:mm" required>
</br>
<p>Please put an image link here for your event</p>
<input imageUrl type="url" placeholder="www.myimage.com" required>
