/*-----general styles--------*/

body {
  font-family: Lato, Helvetica, Helvetica Neue, Arial;
  background-color: #257AC4;

}

p {
  color: #fff;
}

a {
  text-decoration: none;
}

.main-container {
  max-width: 750px;
  margin: 0 auto 80px;
  width: 80%;
  position: relative;
}

/*-----text styles--------*/

.title {
  text-transform: capitalize;
  text-align: center;
  color: #fff;
  font-weight: normal;
  letter-spacing: 7px;
  margin: 11vh 0 20px;
}

.subtitle {
  text-align: center;
  margin-bottom: 40px;
  font-size: 14px;
  font-weight: lighter;
  font-weight: 500  ;
}

.subtitle-add {
  text-align: center;
  margin-top: 120px;
  font-size: 14px;
  font-weight: lighter;
  font-weight: 500;
}

.logout {
  color: #fff;
  font-size: 11px;
  text-decoration: none;
  position: fixed;
  top: 35px;
  right: 40px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.error {
  text-align: center;
  color: #FF941F;
  font-size: 18px;
}

/*------signup-------*/

.signup {
  text-align: center;
}

/*-----inputs--------*/

form.login {
  margin-bottom: 40px;
}

textarea {
  margin: 0 0 30px;
  border: none;
  padding: 10px 15px;
  outline: none;
}

input {
  border: none;
  padding: 15px;
  outline: none;
  min-width: 250px;
}

textarea {
  width: 100%;
  min-height: 120px;
}

.input-center-small {
  border: none;
  padding: 15px;
  outline: none;
  min-width: 250px;
  display: block;
  margin: 0 auto;
  border-radius: 0;
}

.input-center-large {
  border: none;
  padding: 15px;
  outline: none;
  min-width: 250px;
  max-width: 425px;
  width: 50%;
  display: block;
  margin: 0 auto;
  border-radius: 0;
}

/*-------checkboxes---------*/

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
}

input[type="checkbox"] {
  -webkit-appearance: none;
  padding: 35% 48%;
  margin: 0;
  background: #fff;
  outline: none;
  transition: background 0.3s ease;
  min-width: initial;
}

input[type="checkbox"]:checked {
  background: #022D51;
}

input[type="checkbox"]:checked ~ .checkbox-title {
  color: #fff;
}

button {
  text-align: center;
}

.hidden {
  opacity: 0;
}

.checkbox-container {
  padding-right: 0;
  margin-bottom: 20px;
}

.checkbox-title {
  font-size: 12px;
  color: #2364BA;
  position: absolute;
  bottom: 15px;
  z-index: 1;
  left: 30px;
}

.submit-btn {
  border: 2px solid #fff;
  font-weight: 300;
  padding: 20px 30px;
  background-color: rgb(0, 34, 113);
  color: #fff;
  font-size: 17px;
  margin-bottom: 80px;
  transition: background-color 0.3s ease;
  outline: none;
}

.submit-btn:hover {
  background-color:  #508DFF;
}

@media (max-width: 767px) {
  input[type="checkbox"] {
    padding: 29% 48%;
  }
}


/*--------buttons---------*/

.btn-container-large {
  cursor: pointer;
  min-width: 250px;
  max-width: 425px;
  width: 50%;
  padding: 25px;
  background-color: #002C60;
  margin: 0 auto;
  position: relative;
  transition: background-color 0.3s ease;
}

.btn-container-large button  {
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 0;
  background: transparent;
  border: none;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 14px;
  font-weight: 100;
  outline: none;
  padding: 16px 170px 16px 16px;
  box-sizing: border-box;
}

.btn-container-small {
  cursor: pointer;
  max-width: 250px;
  padding: 25px;
  background-color: #002C60;
  margin: 0 auto;
  position: relative;
  transition: background-color 0.3s ease;
}

.btn-container-small button  {
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 0;
  background: transparent;
  border: none;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 14px;
  font-weight: 100;
  outline: none;
  padding: 16px 83% 16px 16px;
  box-sizing: border-box;
}

.btn-container-small:hover,
.btn-container-large:hover {
  background-color: #508DFF;
}


.btn-small {
  text-decoration: none;
  border: 1px solid #fff;
  padding: 10px 20px;
  background-color: #002C60;
  color: #fff;
  display: block;
  width: 125px;
  text-align: center;
  margin: 0 auto;
  letter-spacing: 4px;
  font-size: 12px;
  font-weight: 200;
  transition: background-color 0.3s ease;
}

.btn-small:hover {
  background-color: #508DFF;
}

.click-box-link {
  display: block;
  position: absolute;
  bottom: 0;
}

.add {
  position: absolute;
  top: 18px;
  right: 0;
  width: 60px;
  background-color: #002C60;
  transition: 0.3s ease;
}

.add-center {
  position: absolute;
  top: 65px;
  width: 60px;
  right: 0;
  left: 0;
  margin: 0 auto;
  background-color: #002C60;
  transition: background-color 0.3s ease;
}

.add:hover {
  background-color: #A8C6FF;
}

.edit {
  right: 60px;
}

.delete {
  right: 0px;
}

.click-box {
  background-color: #002C60;
  width: 60px;
  height: 50px;
  float: right;
  transition: 0.3s ease;
}

.click-box:hover {
  background-color: #A8C6FF;
}

.click-box p {
  font-size: 8px;
  text-align: center;
  margin: 30px 0 0;
  letter-spacing: 2px;
}


/*---------icons---------*/

.arrow {
  width: 18px;
  position: absolute;
  right: 20px;
  top: 17px;
}

.arrow img {
  width: 100%;
}

.plus {
  width: 24px;
  margin: 14px auto;
}

.plus img {
  width: 100%;
}

.attending {
  width: 35px;
  float: right;
  margin: 18px 32px 0 0;
}

.attending img {
  width: 100%;
}

.icon-small {
  width: 13px;
  position: absolute;
  left: 22px;
  top: 10px;
}

.icon-small img {
  width: 100%;
}

.col-xs-2.collapse {
  max-width: 140px;
}

@media (max-width: 856px) {
  .collapse {
    width: 0!important;
  }
}

/*--------event dashboard styles---------*/

.attending-container {
  width: 111px;
  float: right;
}

.number-attending {
  color: #002C60;
  margin: 17px 0 0 0;
  font-size: 26px;
  position: absolute;
}

.event-link {
  display: block;
}

.event-tile {
  position: relative;
  background-color: #fff;
  margin-top: 50px;
  color: #fff;
}

.event-heading {
  background-color: #002C60;
  height: 65px;
}

.event-heading p {
  margin: 0;
  padding: 21px;
  text-align: left;
}

.event-data {
  position: absolute;
  font-size: 25px;
  margin: 14px 0;
  color: #333;
}

.event-data-small {
  position: absolute;
  font-size: 15px;
  margin: 16px 0;
  color: #9D9D9D;
}

.two-line {
  margin-top: 8px;
}
.event-date-time {
  font-size: 13px;
}
.event-attending {
  right: 0px;
  float: right;
  margin-bottom: 14px;
}
.plus-sign {
  font-size: 50px;
  color: white;
  width: 60px;
  height: 60px;
}
.add-event {
  text-decoration: none;
}
