/*-----general styles--------*/

body {
  font-family: Lucida Grande, Helvetica, Helvetica Neue, Arial;
  background-color: #257AC4;
}

p {
  color: #fff;
}


/*-----text styles--------*/

.title {
  text-transform: capitalize;
  text-align: center;
  color: #fff;
  font-weight: normal;
  letter-spacing: 7px;
  margin: 40px 0 20px;
}

.subtitle {
  text-align: center;
  margin-bottom: 40px;
  font-size: 14px;
  font-weight: lighter;
  /*font-family: Helvetica, Helvetica Neue, Arial;*/
}


/*-----inputs--------*/

input,
textarea {
  margin: 0 0 30px;
  border: none;
  padding: 10px 15px;
  border-radius: 2px;
  outline: none;
  transition: 0.3s ease;
}

textarea {
  width: 100%;
  min-height: 120px;
}

input[type="checkbox"] {
  -webkit-appearance: none;
  padding: 35% 48%;
  margin: 0;
  background: #fff;
  outline: none;
  transition: 0.3s ease;
}

input[type="checkbox"]:checked {
  background: #3382C4;
}

span {
  font-size: 12px;
  color: #fff;
}
