/*-----general styles--------*/

body {
  font-family: Lucida Grande, Helvetica, Helvetica Neue, Arial;
  background-color: #257AC4;

}

p {
  color: #fff;
}


/*-----text styles--------*/

.title {
  text-transform: capitalize;
  text-align: center;
  color: #fff;
  font-weight: normal;
  letter-spacing: 7px;
  margin: 40px 0 20px;
}

.subtitle {
  text-align: center;
  margin-bottom: 40px;
  font-size: 14px;
  font-weight: lighter;
  /*font-family: Helvetica, Helvetica Neue, Arial;*/
}

.logout {
  color: #fff;
  font-size: 15px;
  text-decoration: none;
}

/*-----inputs--------*/

input,
textarea {
  margin: 0 0 30px;
  border: none;
  padding: 10px 15px;
  border-radius: 2px;
  outline: none;
}

textarea {
  width: 100%;
  min-height: 120px;
}

/*-------checkboxes---------*/

input[type="checkbox"] {
  -webkit-appearance: none;
  padding: 35% 48%;
  margin: 0;
  background: #fff;
  outline: none;
  transition: 0.3s ease;
}

input[type="checkbox"]:checked {
  background: #022D51;
}

input[type="checkbox"]:checked ~ .checkbox-title {
  color: #fff;
}

button {
  text-align: center;
}

.message {
  transition: 0.3s ease;
  opacity: 1;
  margin: 0 20px;
  display: inline-block;
  color: #FFFFFF;
  box-sizing: border-box;
  padding: 18px 18px;
  border-radius: 7px;
}

.error {
  background-color: #B63434;
  border: 2px solid #FFD4D4;
}

.success {
  background-color: #47cf49;
  border: 2px solid #e8feea;
}

.hidden {
  opacity: 0;
}

.checkbox-container {
  padding-right: 0;
  margin-bottom: 20px;
}

.checkbox-title {
  font-size: 12px;
  color: #2364BA;
  position: absolute;
  bottom: 15px;
  z-index: 1;
  left: 30px;
}

.submit-btn {
  border: none;
  padding: 20px 30px;
  background-color: rgb(0, 34, 113);
  color: #fff;
  font-size: 17px;
  margin-bottom: 80px;
  border-radius: 9.2px;
  transition: 0.3s ease;
  outline: none;
}

.submit-btn:hover {
  background-color: rgb(54, 189, 55);
}

@media (max-width: 767px) {
  input[type="checkbox"] {
    padding: 29% 48%;
  }
}


/*--------buttons---------*/

.btn {
  padding: 15px 30px;
  font-size: 15px;
  text-decoration: none;
  box-sizing: border-box;
  margin: 0 20px;
  border-radius: 3px;
  font-weight: 100;
  letter-spacing: 2.7px;
  text-transform: uppercase;
  border: none;
  outline: none;
  box-shadow: 0px 2px 8px 0px rgb(220, 220, 220);
}

.small {
  padding: 10px 20px;
  margin: 10px;
  font-size: 12px;
  letter-spacing: 2px;
}

.red {
  background-color: #FF695E;
  color: #fff;
  transition: background-color 0.2s ease;
}

.red:hover {
  background-color: #EF2E2E;
}

.purple {
  background-color: #9268FB;
  color: #fff;
  transition: background-color 0.2s ease;
}

.purple:hover {
  background-color: #6416b3;
}

.blue {
  background-color: #3790f9;
  color: #fff;
  transition: background-color 0.2s ease;
}

.blue:hover {
  background-color: #0959b8;
}


/*--------event dashboard styles---------*/
.event-tile {
  border: 2px solid white;
  margin-top: 20px;
  color: #fff;
  padding: 20px;
}
.event-title {
  font-size: 15px;
}
.event-date-time {
  font-size: 13px;
}
.event-attending {
  right: 0px;
  float: right;
  margin-bottom: 14px;
}
.plus-sign {
  font-size: 50px;
  color: white;
  width: 60px;
  height: 60px;
}
.add-event {
  text-decoration: none;
}
